.m__alert-error,
.m__alert-success {
  border-radius: var(--m__radius-m);
  padding: var(--m__control-inset-padding);
}

.m__alert-error {
  background: color-mix(in srgb, var(--m__ui-error-color) 15%, transparent);
  color: var(--m__ui-error-color);
}

.m__alert-success {
  background: color-mix(in srgb, var(--m__ui-success-color) 15%, transparent);
  color: var(--m__ui-success-color);
}
