.m__alert-error,
.m__alert-success {
  border-radius: var(--m__radius-m);
  padding: var(--m__padding-control-m);
}

.m__alert-error {
  background: color-mix(in srgb, var(--m__error) 15%, transparent);
  color: var(--m__error);
}

.m__alert-success {
  background: color-mix(in srgb, var(--m__success) 15%, transparent);
  color: var(--m__success);
}
