.m__code-block {
  background-color: var(--m__bg-surface-color);
  border-radius: var(--m__radius-s);
  overflow: hidden;
  margin-bottom: var(--m__default-margin-bottom);

  & .m__code-block__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--m__code-block-toolbar-padding);
    border-bottom: 1px solid var(--m__ui-border-color);
    font-size: var(--m__font-size-s);
    color: var(--m__text-caption-color);
  }

  & pre {
    margin: 0;
    padding: 0.5rem 0.7rem;
    overflow-x: auto;

    & code {
      font-family: var(--m__font-mono);
      font-size: var(--m__font-size-mono-m);
      line-height: 1.6;
      background: none;
      border: none;
      padding: 0;
      color: inherit;
    }
  }
}
