.m__tag {
  display: inline-flex;
  align-items: center;
  padding: var(--m__button-compact-padding);
  border-radius: var(--m__radius-xs);
  font-size: var(--m__font-size-s);
  font-weight: 500;
  line-height: 1;
  background-color: transparent;
  border: 1px solid color-mix(in srgb, currentColor 25%, transparent);
  color: currentColor;
}
