<nav class="m__segmented-nav ui-viz__tabs" aria-label="UI pages">
  <ul>
    <li{% if page.url == '/tools/ui-scheme/' %} class="current"{% endif %}>
      <a href="/tools/ui-scheme/" id="ui-tab-scheme"{% if page.url == '/tools/ui-scheme/' %} aria-current="page"{% endif %}>Scheme</a>
    </li>
    <li{% if page.url == '/tools/ui-compare/' %} class="current"{% endif %}>
      <a href="/tools/ui-compare/" id="ui-tab-compare"{% if page.url == '/tools/ui-compare/' %} aria-current="page"{% endif %}>Compare</a>
    </li>
  </ul>
</nav>
