---
pageTitle: Overview
permalink: /dashboard/overview/
chartJs: true
---

{% extends 'prototypes/layout.html' %} {% block content %}

<div class="m__wrapper">
  <div class="m__space XL"></div>
  <div class="dashboard-layout">
    <div class="nav-sidebar">
      <nav>{% include 'prototypes/dashboard-nav-sidebar.html' %}</nav>
    </div>

    <main class="dashboard-content">
      <section
        class="dashboard-section dashboard-section--group"
        aria-label="Stats">
        <div class="dashboard-stats">
          {% include 'prototypes/dashboard/overview/credit-balance-stat.html' %} {% include
          'prototypes/dashboard/overview/credit-balance-over-time.html' %}
        </div>
      </section>

      {% include 'prototypes/dashboard/overview/usage-by-model.html' %} {% include
      'prototypes/dashboard/overview/requests-by-status.html' %} {% include
      'prototypes/dashboard/overview/recent-usage.html' %}
    </main>
  </div>
  <div class="m__space XL"></div>
</div>

{% endblock %}
