openapi: "3.1.0"
info:
  title: Velma-2 Batch English Fast
  version: "2.0"
  description: |
    High-throughput English-only batch transcription. Optimized for speed and
    scale. Accepts Opus audio and returns transcripts with automatic
    capitalization and punctuation.

servers:
  - url: https://modulate-developer-apis.com/api/velma-2-stt-batch-fast-en

security:
  - ApiKeyHeader: []

paths:
  /transcribe:
    post:
      summary: Submit a transcription job
      operationId: transcribe
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - audio
              properties:
                audio:
                  type: string
                  format: binary
                  description: Opus audio file. Max 100 MB.
      responses:
        "200":
          description: Transcription result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptionResult"
        "400":
          description: Invalid request or unsupported audio format
        "401":
          description: Missing or invalid API key
        "413":
          description: Audio file exceeds 100 MB limit
        "429":
          description: Concurrency or usage quota exceeded

components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    TranscriptionResult:
      type: object
      required:
        - transcript
        - segments
        - duration_seconds
      properties:
        transcript:
          type: string
          description: Full plain-text transcript with capitalization and punctuation.
        duration_seconds:
          type: number
          description: Duration of the processed audio in seconds.
        segments:
          type: array
          items:
            $ref: "#/components/schemas/Segment"

    Segment:
      type: object
      required:
        - start
        - end
        - text
      properties:
        start:
          type: number
          description: Segment start time in seconds.
        end:
          type: number
          description: Segment end time in seconds.
        text:
          type: string
          description: Transcribed text for this segment.
