:root {
  --m__gap-nav: 0.1rem;
  --m__gap-xxs: 0.3rem;
  --m__gap-sidebar-link: 0.35rem;
  --m__gap-xs: 0.7rem;
  --m__gap-s: 0.9rem;
  --m__gap-m: 1.2rem;
  --m__gap-l: 2.4rem;
  --m__gap-xl: 4.8rem;
}

@media (width < 767px) {
  :root {
    --m__gap-xxs: 0.2rem;
    --m__gap-xs: 0.5rem;
    --m__gap-s: 0.6rem;
    --m__gap-m: 0.8rem;
    --m__gap-l: 1.6rem;
    --m__gap-xl: 3.2rem;
  }
}
