:root {
  --m__button-padding: 0.5rem 1rem;
  --m__button-compact-padding: 0.15rem 0.45rem;
  --m__control-compact-padding: 0.3em 0.8em;
  --m__picker-compact-padding: 0.3em 0.5em;
  --m__select-compact-padding: 0.3em 0.5em;

  --m__button-icon-size: 1lh;

  --m__control-inset-padding: 0.5rem 0.5rem;

  --m__code-block-toolbar-padding: 0.4rem 0.6rem;

  --m__segmented-control-padding: 0.3em 0.8em;

  --m__loader-size: 1.5rem;
}
