html {
  scrollbar-width: thin;
  scrollbar-color: var(--m__ui-border-color) transparent;
}

@media (hover: hover) and (pointer: fine) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--m__ui-border-color);
    border-radius: 999px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
