{% macro primary_nav(variant, currentUrl) %} {% set isDashboard = (currentUrl |
startsWith('/dashboard/')) or (currentUrl | startsWith('/conversations/')) %} {% if variant == "bar" %} {% if currentUrl ==
'/models-api-docs/' or currentUrl == '/jobs-api-docs/' %}<span
  class="prototype-header__link active"
  >Docs</span
>{% else %}<a
  href="/models-api-docs/"
  class="prototype-header__link {{ 'active' if currentUrl | startsWith('/models-api-docs/') or currentUrl | startsWith('/jobs-api-docs/') }}"
  >Docs</a
>{% endif %} {% if currentUrl == '/pricing/' %}<span
  class="prototype-header__link active"
  >Pricing</span
>{% else %}<a
  href="/pricing/"
  class="prototype-header__link {{ 'active' if currentUrl | startsWith('/pricing/') }}"
  >Pricing</a
>{% endif %} {% if not isDashboard %} {% if currentUrl == '/playground/' %}<span
  class="prototype-header__link active"
  >Playground</span
>{% else %}<a
  href="/playground/"
  class="prototype-header__link {{ 'active' if currentUrl | startsWith('/playground/') }}"
  >Playground</a
>{% endif %} {% if currentUrl == '/conversations/' %}<span
  class="prototype-header__link active"
  >Conversations</span
>{% else %}<a
  href="/conversations/"
  class="prototype-header__link {{ 'active' if currentUrl | startsWith('/conversations/') }}"
  >Conversations</a
>{% endif %} {% endif %} {% if currentUrl == '/dashboard/overview/' %}<span
  class="prototype-header__link active"
  >Dashboard</span
>{% else %}<a
  href="/dashboard/overview/"
  class="prototype-header__link {{ 'active' if isDashboard }}"
  >Dashboard</a
>{% endif %} {% elif variant == "landing" %} {% if currentUrl ==
'/models-api-docs/' or currentUrl == '/jobs-api-docs/' %}<span
  class="prototype-header__link active"
  >Docs</span
>{% else %}<a
  href="/models-api-docs/"
  class="prototype-header__link {{ 'active' if currentUrl | startsWith('/models-api-docs/') or currentUrl | startsWith('/jobs-api-docs/') }}"
  >Docs</a
>{% endif %} {% if currentUrl == '/pricing/' %}<span
  class="prototype-header__link active"
  >Pricing</span
>{% else %}<a
  href="/pricing/"
  class="prototype-header__link {{ 'active' if currentUrl | startsWith('/pricing/') }}"
  >Pricing</a
>{% endif %} {% if currentUrl == '/playground/' %}<span
  class="prototype-header__link active"
  >Playground</span
>{% else %}<a
  href="/playground/"
  class="prototype-header__link {{ 'active' if currentUrl | startsWith('/playground/') }}"
  >Playground</a
>{% endif %} {% else %}
{% if not isDashboard %}
<a
  href="/conversations/"
  class="prototype-header__popover-link {{ 'active' if currentUrl | startsWith('/conversations/') }}"
  role="menuitem"
  >Conversations</a
>
{% endif %}
<a
  href="/models-api-docs/"
  class="prototype-header__popover-link {{ 'active' if currentUrl | startsWith('/models-api-docs/') or currentUrl | startsWith('/jobs-api-docs/') }}"
  role="menuitem"
  >Docs</a
>
<a
  href="/pricing/"
  class="prototype-header__popover-link {{ 'active' if currentUrl | startsWith('/pricing/') }}"
  role="menuitem"
  >Pricing</a
>
{% if not isDashboard %}
<a
  href="/playground/"
  class="prototype-header__popover-link {{ 'active' if currentUrl | startsWith('/playground/') }}"
  role="menuitem"
  >Playground</a
>
{% endif %}
<a
  href="/dashboard/overview/"
  class="prototype-header__popover-link {{ 'active' if isDashboard }}"
  role="menuitem"
  >Dashboard</a
>
{% endif %} {% endmacro %} {% macro dashboard_nav_meta(variant) %} {% if variant
== "sidebar" %}
<a
  href="/dashboard/organization/"
  class="m__nav-menu-item {{ 'active' if pageTitle == 'Organization' }}"
  ><span class="m__nav-menu-item__caption"
    >Eugene’s Personal Organization, 99&nbsp;users</span
  ></a
>
{% else %}
<a
  href="/dashboard/account/"
  class="prototype-header__popover-meta-link {{ 'active' if pageTitle == 'Account' }}"
  role="menuitem">
  <span class="prototype-header__popover-meta-caption">e@intuition.team</span>
</a>
<a
  href="/dashboard/organization/"
  class="prototype-header__popover-meta-link {{ 'active' if pageTitle == 'Organization' }}"
  role="menuitem">
  <span class="prototype-header__popover-meta-caption"
    >Eugene’s Personal Organization, 99&nbsp;users</span
  >
</a>
{% endif %} {% endmacro %} {% macro dashboard_nav_main(variant) %} {% if variant
== "sidebar" %}
<a
  href="/dashboard/overview/"
  class="m__nav-menu-item {{ 'active' if pageTitle == 'Overview' }}"
  ><svg class="m__nav-menu-item__icon" viewBox="0 0 32 32" aria-hidden="true">
    <use href="#overview"></use>
  </svg>
  <span>Overview</span></a
>
<a
  href="/conversations/"
  class="m__nav-menu-item {{ 'active' if pageTitle == 'Conversation' or pageTitle == 'Conversations' }}"
  ><svg class="m__nav-menu-item__icon" viewBox="0 0 32 32" aria-hidden="true">
    <use href="#transcript"></use>
  </svg>
  <span>Conversation</span></a
>
<div class="m__nav-menu-heading">INVESTIGATE</div>
<a
  href="/conversations/moderation/"
  class="m__nav-menu-item {{ 'active' if pageTitle == 'Moderation' }}"
  ><svg class="m__nav-menu-item__icon" viewBox="0 0 32 32" aria-hidden="true">
    <use href="#prosocial"></use>
  </svg>
  <span>Moderation</span></a
>
<a
  href="/dashboard/alerts/"
  class="m__nav-menu-item {{ 'active' if pageTitle == 'Alerts' }}"
  ><svg class="m__nav-menu-item__icon" viewBox="0 0 32 32" aria-hidden="true">
    <use href="#star"></use>
  </svg>
  <span>Alerts</span></a
>
<div class="m__nav-menu-heading">BUILD</div>
<a
  href="/dashboard/behaviors/"
  class="m__nav-menu-item {{ 'active' if pageTitle == 'Behaviors' }}"
  ><svg class="m__nav-menu-item__icon" viewBox="0 0 32 32" aria-hidden="true">
    <use href="#behaviors"></use>
  </svg>
  <span>Behaviors</span></a
>
<a
  href="/dashboard/actions/"
  class="m__nav-menu-item {{ 'active' if pageTitle == 'Actions' }}"
  ><svg class="m__nav-menu-item__icon" viewBox="0 0 32 32" aria-hidden="true">
    <use href="#restart"></use>
  </svg>
  <span>Actions</span></a
>
<a
  href="/dashboard/jobs/"
  class="m__nav-menu-item {{ 'active' if pageTitle == 'Jobs' }}"
  ><svg class="m__nav-menu-item__icon" viewBox="0 0 32 32" aria-hidden="true">
    <use href="#batch"></use>
  </svg>
  <span>Jobs</span></a
>
<div class="m__nav-menu-heading">MANAGE</div>
<a
  href="/dashboard/api-keys/"
  class="m__nav-menu-item {{ 'active' if pageTitle == 'API Keys' }}"
  ><svg class="m__nav-menu-item__icon" viewBox="0 0 32 32" aria-hidden="true">
    <use href="#api-key"></use>
  </svg>
  <span>API Keys</span></a
>
<a
  href="/dashboard/usage/"
  class="m__nav-menu-item {{ 'active' if pageTitle == 'Usage' }}"
  ><svg class="m__nav-menu-item__icon" viewBox="0 0 32 32" aria-hidden="true">
    <use href="#usage"></use>
  </svg>
  <span>Usage</span></a
>
<a
  href="/dashboard/billing/"
  class="m__nav-menu-item {{ 'active' if pageTitle == 'Billing' }}"
  ><svg class="m__nav-menu-item__icon" viewBox="0 0 32 32" aria-hidden="true">
    <use href="#billing"></use>
  </svg>
  <span>Billing</span></a
>
<a
  href="/dashboard/organization/"
  class="m__nav-menu-item {{ 'active' if pageTitle == 'Organization' }}"
  ><svg class="m__nav-menu-item__icon" viewBox="0 0 32 32" aria-hidden="true">
    <use href="#account"></use>
  </svg>
  <span>Organization</span></a
>
<div class="prototype-internal-nav">
  <div class="m__nav-menu-heading">ADMIN</div>
  <a
    href="/internal/users/"
    class="m__nav-menu-item {{ 'active' if pageTitle == 'Users & Organizations' }}"
    ><span class="m__nav-menu-item__caption">Clients</span></a
  >
  <a
    href="/internal/data/"
    class="m__nav-menu-item {{ 'active' if pageTitle == 'Data Management' }}"
    ><span class="m__nav-menu-item__caption">Data Management</span></a
  >
  <a
    href="/internal/invites/"
    class="m__nav-menu-item {{ 'active' if pageTitle == 'Invites & Credits' }}"
    ><span class="m__nav-menu-item__caption">Invites &amp; Credits</span></a
  >
  <a
    href="/internal/usage/"
    class="m__nav-menu-item {{ 'active' if pageTitle == 'Platform Usage' }}"
    ><span class="m__nav-menu-item__caption">Platform Usage</span></a
  >
  <a
    href="/internal/overrides/"
    class="m__nav-menu-item {{ 'active' if pageTitle == 'Org Overrides' }}"
    ><span class="m__nav-menu-item__caption">Org Overrides</span></a
  >
  <a
    href="/internal/reports/"
    class="m__nav-menu-item {{ 'active' if pageTitle == 'Reports' }}"
    ><span class="m__nav-menu-item__caption">Reports</span></a
  >
  <a
    href="/internal/models/"
    class="m__nav-menu-item {{ 'active' if pageTitle == 'Model Management' }}"
    ><span class="m__nav-menu-item__caption">Model Management</span></a
  >
</div>
{% else %}
<a
  href="/dashboard/overview/"
  class="prototype-header__popover-link {{ 'active' if pageTitle == 'Overview' }}"
  role="menuitem"
  ><svg
    class="prototype-header__popover-link-icon"
    viewBox="0 0 32 32"
    aria-hidden="true">
    <use href="#overview"></use>
  </svg>
  <span>Overview</span></a
>
<a
  href="/conversations/"
  class="prototype-header__popover-link {{ 'active' if pageTitle == 'Conversation' or pageTitle == 'Conversations' }}"
  role="menuitem"
  ><svg
    class="prototype-header__popover-link-icon"
    viewBox="0 0 32 32"
    aria-hidden="true">
    <use href="#transcript"></use>
  </svg>
  <span>Conversation</span></a
>
<div class="m__nav-menu-heading">INVESTIGATE</div>
<a
  href="/conversations/moderation/"
  class="prototype-header__popover-link {{ 'active' if pageTitle == 'Moderation' }}"
  role="menuitem"
  ><svg
    class="prototype-header__popover-link-icon"
    viewBox="0 0 32 32"
    aria-hidden="true">
    <use href="#prosocial"></use>
  </svg>
  <span>Moderation</span></a
>
<a
  href="/dashboard/alerts/"
  class="prototype-header__popover-link {{ 'active' if pageTitle == 'Alerts' }}"
  role="menuitem"
  ><svg
    class="prototype-header__popover-link-icon"
    viewBox="0 0 32 32"
    aria-hidden="true">
    <use href="#star"></use>
  </svg>
  <span>Alerts</span></a
>
<div class="m__nav-menu-heading">BUILD</div>
<a
  href="/dashboard/behaviors/"
  class="prototype-header__popover-link {{ 'active' if pageTitle == 'Behaviors' }}"
  role="menuitem"
  ><svg
    class="prototype-header__popover-link-icon"
    viewBox="0 0 32 32"
    aria-hidden="true">
    <use href="#behaviors"></use>
  </svg>
  <span>Behaviors</span></a
>
<a
  href="/dashboard/actions/"
  class="prototype-header__popover-link {{ 'active' if pageTitle == 'Actions' }}"
  role="menuitem"
  ><svg
    class="prototype-header__popover-link-icon"
    viewBox="0 0 32 32"
    aria-hidden="true">
    <use href="#restart"></use>
  </svg>
  <span>Actions</span></a
>
<a
  href="/dashboard/jobs/"
  class="prototype-header__popover-link {{ 'active' if pageTitle == 'Jobs' }}"
  role="menuitem"
  ><svg
    class="prototype-header__popover-link-icon"
    viewBox="0 0 32 32"
    aria-hidden="true">
    <use href="#batch"></use>
  </svg>
  <span>Jobs</span></a
>
<div class="m__nav-menu-heading">MANAGE</div>
<a
  href="/dashboard/api-keys/"
  class="prototype-header__popover-link {{ 'active' if pageTitle == 'API Keys' }}"
  role="menuitem"
  ><svg
    class="prototype-header__popover-link-icon"
    viewBox="0 0 32 32"
    aria-hidden="true">
    <use href="#api-key"></use>
  </svg>
  <span>API Keys</span></a
>
<a
  href="/dashboard/usage/"
  class="prototype-header__popover-link {{ 'active' if pageTitle == 'Usage' }}"
  role="menuitem"
  ><svg
    class="prototype-header__popover-link-icon"
    viewBox="0 0 32 32"
    aria-hidden="true">
    <use href="#usage"></use>
  </svg>
  <span>Usage</span></a
>
<a
  href="/dashboard/billing/"
  class="prototype-header__popover-link {{ 'active' if pageTitle == 'Billing' }}"
  role="menuitem"
  ><svg
    class="prototype-header__popover-link-icon"
    viewBox="0 0 32 32"
    aria-hidden="true">
    <use href="#billing"></use>
  </svg>
  <span>Billing</span></a
>
<div class="prototype-internal-nav">
  <div class="m__nav-menu-heading">ADMIN</div>
  <a
    href="/internal/users/"
    class="prototype-header__popover-meta-link {{ 'active' if pageTitle == 'Users & Organizations' }}"
    role="menuitem"
    ><span class="prototype-header__popover-meta-caption"
      >Clients</span
    ></a
  >
  <a
    href="/internal/data/"
    class="prototype-header__popover-meta-link {{ 'active' if pageTitle == 'Data Management' }}"
    role="menuitem"
    ><span class="prototype-header__popover-meta-caption"
      >Data Management</span
    ></a
  >
  <a
    href="/internal/invites/"
    class="prototype-header__popover-meta-link {{ 'active' if pageTitle == 'Invites & Credits' }}"
    role="menuitem"
    ><span class="prototype-header__popover-meta-caption"
      >Invites &amp; Credits</span
    ></a
  >
  <a
    href="/internal/usage/"
    class="prototype-header__popover-meta-link {{ 'active' if pageTitle == 'Platform Usage' }}"
    role="menuitem"
    ><span class="prototype-header__popover-meta-caption"
      >Platform Usage</span
    ></a
  >
  <a
    href="/internal/overrides/"
    class="prototype-header__popover-meta-link {{ 'active' if pageTitle == 'Org Overrides' }}"
    role="menuitem"
    ><span class="prototype-header__popover-meta-caption"
      >Org Overrides</span
    ></a
  >
  <a
    href="/internal/reports/"
    class="prototype-header__popover-meta-link {{ 'active' if pageTitle == 'Reports' }}"
    role="menuitem"
    ><span class="prototype-header__popover-meta-caption">Reports</span></a
  >
  <a
    href="/internal/models/"
    class="prototype-header__popover-meta-link {{ 'active' if pageTitle == 'Model Management' }}"
    role="menuitem"
    ><span class="prototype-header__popover-meta-caption"
      >Model Management</span
    ></a
  >
</div>
{% endif %} {% endmacro %}
