<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pageTitle if pageTitle else 'Modulate' }}</title>
    <link rel="shortcut icon" href="/assets/service/favicon-product.png" />
    <link rel="stylesheet" href="/bundle.css" />
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'service/svg-icons-sprite.html' %} {% block content %}{% endblock
    %} {% block scripts %}{% endblock %}
  </body>
</html>
