.m__space {
  height: var(--m__space-m);

  @media (width < 767px) {
    height: var(--m__space-mobile-m);
  }

  &.XS {
    height: var(--m__space-xs);

    @media (width < 767px) {
      height: var(--m__space-mobile-xs);
    }
  }
  &.S {
    height: var(--m__space-s);

    @media (width < 767px) {
      height: var(--m__space-mobile-s);
    }
  }
  &.M {
    height: var(--m__space-m);

    @media (width < 767px) {
      height: var(--m__space-mobile-m);
    }
  }
  &.L {
    height: var(--m__space-l);

    @media (width < 767px) {
      height: var(--m__space-mobile-l);
    }
  }
  &.XL {
    height: var(--m__space-xl);

    @media (width < 767px) {
      height: var(--m__space-mobile-xl);
    }
  }
}
