.m__space {
  height: var(--m__space-m);

  &.XS {
    height: var(--m__space-xs);
  }
  &.S {
    height: var(--m__space-s);
  }
  &.M {
    height: var(--m__space-m);
  }
  &.L {
    height: var(--m__space-l);
  }
  &.XL {
    height: var(--m__space-xl);
  }
}
