.m__wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 0.7rem;

  @media (width < 767px) {
    width: 100%;
  }

  & .m__text-width {
    width: 85%;

    @media (width < 767px) {
      width: 100%;
    }
  }
}
