---
pageTitle: Reset password
permalink: /auth/invite/
---

{% extends 'prototypes/auth-layout.html' %} {% block content %}

<form class="auth-form" action="#" method="post" novalidate>
  <h1>Welcome to Modulate's Developer APIs!</h1>
  <div class="m__space XS"></div>

  <div class="auth-form__actions">
    <a href="/dashboard/overview/" class="m__button">Claim credits</a>
  </div>

  <div class="auth-form__actions">
    <a href="/dashboard/overview/" class="m__button-secondary">Cancel</a>
  </div>

  <div class="m__space XS"></div>
  <div class="auth-form__links">
    <a href="/auth/login/">Already have an account? Sign in</a>
  </div>
  <div class="m__space XS"></div>
  <a href="/auth/signup/" class="auth-form__link">Create account</a>
</form>

{% endblock %}
