---
pageTitle: Reset password
permalink: /auth/reset-password-complete/
---

{% extends 'prototypes/auth-layout.html' %} {% block content %}

<form class="auth-form" action="#" method="post" novalidate>
  <h1>Set new password</h1>
  <div class="m__space XS"></div>

  <div class="m__textfield">
    <label for="reset-password">New password</label>
    <input
      type="password"
      id="reset-password"
      name="password"
      autocomplete="new-password"
    />
  </div>

  <div class="m__textfield">
    <label for="reset-password">Confirm password</label>
    <input
      type="password"
      id="reset-password"
      name="password"
      autocomplete="confirm-password"
    />
    <div class="m__textfield__message" id="auth-tf-password-invalid-error">
      <span>Passwords do not match</span>
    </div>
  </div>

  <div class="auth-form__actions">
    <a href="/dashboard/overview/" class="m__button">Save</a>
  </div>

  <!-- Complete -->
  <div class="m__alert-success">Password reset successfully.</div>
  <div class="m__space S"></div>
  <div class="auth-form__actions">
    <a href="/auth/login/" class="m__button">Go to sign in</a>
  </div>

  <!-- Link Expired -->
  <div class="m__alert-error">This reset link is invalid or has expired.</div>
  <div class="m__space S"></div>
  <div class="auth-form__actions">
    <button type="submit" class="m__button">Send a new link</button>
  </div>
</form>

{% endblock %}
