---
pageTitle: Create account
permalink: /auth/signup/
---

{% extends 'prototypes/auth-layout.html' %} {% block content %}

<form class="auth-form" action="#" method="post" novalidate>
  <h1>Create account</h1>
  <div class="m__space XS"></div>

  <div class="m__textfield">
    <label for="signup-email">Email</label>
    <input
      type="email"
      id="signup-email"
      name="email"
      autocomplete="email"
      aria-describedby="auth-tf-email-invalid-error"
    />
    <div class="m__textfield__message" id="auth-tf-email-invalid-error">
      <span>Enter a valid email address</span>
    </div>
  </div>

  <div class="auth-form__actions">
    <a href="/auth/signup-complete" class="m__button">Continue</a>
  </div>

  <div class="m__space XS"></div>

  <div class="auth-form__links">
    <a href="/auth/login/">Already have an account? Sign in</a>
  </div>
</form>

{% endblock %}
