{% extends 'service/layout.html' %} {% set pageTitle = 'UI Scheme' %} {% block
content %}

<div class="m__wrapper">
  <div class="m__space L"></div>

  {% include 'service/ui-navigation.html' %}

  <h1 class="ui-viz__heading">UI Scheme</h1>
  {% include 'service/ui-updated.html' %}

  <div id="ui-structure" class="ui-viz">
    <div class="ui-viz__legend">{% include 'service/ui-arch-diagram.html' %}</div>
    {% uiTable "scheme" %}
  </div>
</div>

<script type="module" src="/assets/service/ui-visualizer.js"></script>

{% endblock %}
